body {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.red {
  background-color: red;
}

.blue {
  background: blue;
}

.green {
  background-color: green;
}

.cat-child {
  float: left;
  padding: 20px;
  background: #eaeaea;
  border: 1px solid black;
  margin: 15px;
}

.cats-container {
  height: 400px;
  width: auto;
}
